In [26]:
from bs4 import BeautifulSoup
import pandas as pd
import csv
import requests

In [27]:
df = pd.read_html('https://trafficsignstore.com/abbreviations.html')[0]

In [28]:
df.dropna(axis=0, inplace=True)

In [29]:
dict1 = dict(zip(df[0], df[1]))
dict2 = dict(zip(df[2], df[3]))
street_dict_final = {**dict1, **dict2}

In [30]:
street_dict_final

{'ALLEY': 'ALLEY',
 'AVENUE': 'AVE or AV',
 'BOULEVARD': 'BLVD',
 'BRIDGE': 'BR',
 'CANYON': 'CYN',
 'CENTER': 'CTR',
 'CIRCLE': 'CIR',
 'COURT': 'CT',
 'CRESCENT': 'CRES',
 'DRIVE': 'DR',
 'EAST': 'E',
 'EXPRESSWAY': 'EXPWY',
 'FREEWAY': 'FWY',
 'HIGHWAY': 'HWY',
 'HILL': 'HILL',
 'INFORMATION': 'INFO',
 'INTERNATIONAL': 'INTL',
 'ISLAND': 'ISL',
 'JUNCTION': 'JCT',
 'LANE': 'LN',
 'LAKE': 'LK',
 'LOOP': 'LP',
 'MOUNT': 'MT',
 'NORTH': 'N',
 'NATIONAL': 'NATL',
 'NORTHEAST': 'NE',
 'NORTHWEST': 'NW',
 'PARKWAY': 'PKWY',
 'PLACE': 'PL',
 'PLAZA': 'PLZ',
 'PORT': 'PT',
 'RIVER': 'R',
 'ROAD': 'RD',
 'ROUTE': 'RTE',
 'SQUARE': 'SQ',
 'SOUTH': 'S',
 'SOUTHEAST': 'SE',
 'SOUTHWEST': 'SW',
 'STREET': 'ST',
 'TERRACE': 'TER',
 'THRUWAY': 'THWY',
 'TRAIL': 'TR',
 'TURNPIKE': 'TPK',
 'WAY': 'WAY',
 'WEST': 'W'}

In [31]:
BS_df = pd.read_csv("class_billing_street.csv")

In [32]:
BS_df.head(10)
# task: standardize the billing streets using the Common Street Name Sign Abbreviations
# for exapme: SOUTHEAST SHOULD BE SE

                                       BillingStreet
0                                   709 GRAND AVE SW
1                    1420 SOUTH TRENTON ST M/C 2T-43
2                                      PO BOX 660425
3                      135 NORTH SIERRA ST SUITE A-1
4                                1275 REDIVERSION RD
5            600 S MAESTRI PL (HERBERT FEDERAL BLDG)
6                            441 VINE STREET RM 3003
7                                486 REPLACEMENT AVE
8                             48 DONLEY ST SUITE 504
9  BUILDING 214 2ND FLOOR ISF SUPPLIER CLASSIFIED...

In [33]:
BS_df['Splited Street'] = BS_df['BillingStreet'].str.split()

In [34]:
def get_normalized_street(row):
    new_words = []
    for w in row:
        if w in street_dict_final:
            new_words.append(street_dict_final[w])
        else:
            new_words.append(w)
    return " ".join(new_words)

In [35]:
BS_df['Normalized Street'] = BS_df['Splited Street'].map(get_normalized_street)

In [36]:
BS_df['Normalized Street'].head(20)

0                                      709 GRAND AVE SW
1                           1420 S TRENTON ST M/C 2T-43
2                                         PO BOX 660425
3                             135 N SIERRA ST SUITE A-1
4                                   1275 REDIVERSION RD
5               600 S MAESTRI PL (HERBERT FEDERAL BLDG)
6                                   441 VINE ST RM 3003
7                                   486 REPLACEMENT AVE
8                                48 DONLEY ST SUITE 504
9     BUILDING 214 2ND FLOOR ISF SUPPLIER CLASSIFIED...
10      333 CONSTITUTION AVE NW US FOREIGN INTELLIGENCE
11                                      1234 ANYTOWN ST
12                       BLDG #676 VFK COMP RM B-10 VFK
13                                   1800 CENTURY PL NE
14                                    1604 BROOKLYN AVE
15                                     1148 E TEXAS AVE
16                                   301 VOYAGER WAY NW
17                                    120 E WILLIAMS ST
18                                        101 E POST RD
19                                       4830 W 15TH ST
Name: Normalized Street, dtype: object